body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #cccccc;
    background-image: url(/assets/img/background125.png);
    /* background-repeat: no-repeat; */
    background-size: auto;

}